@tailwind base;
@tailwind components;
@tailwind utilities;

:host {
  position: relative;

  /* Desk's dialog z-index is higher so keep ours lower! */
  z-index: 1999;
}

:host {
  font-family: InterVar, InterVariable, Inter, ui-sans-serif, system-ui, sans-serif;
}
